
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
}
.hex-img {
  position: absolute;
  z-index: -1;
}
.content {
  max-width: 1000px;
  width: 60%;
}