.navbar {
   height: 100px;
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   color: #04080f;
}
.navbar a {
    text-decoration: none;
    color: #04080f;
    transition: all 0.3s;
}
.navbar a:hover {
    color: #2e2e2e;
    transform: scale(1.05);
    transition: all 0.3s;
}
.title {
    font-size: 16px;
    white-space: nowrap;
}
.links {
    display: flex;
    align-items: center;
    justify-content: center;
}
.link-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 36px;
    border-radius: 9px;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25), -2px -2px 2px rgba(0, 0, 0, 0.25);
    margin: 0 12.5px;
    transform: scale(1);
    transition: transform 0.5s;
}
.link-btn:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}
.link-pressed {
    transition: all 0.5s;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25) !important;
}
.link-btn a {
    text-decoration: none;
    padding: 5px 15px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.5s;
}
.link-btn a span {
    font-weight: 400;
    font-size: 18px;
    color: #04080f;
    transition: all 0.5s;
}
.underline {
    width: 12px;
    height: 2px;
    background-color: #f1bc20;
    margin-top: 1px;
    z-index: 1;
    transition: all 0.5s;
}
.title h3 {
    font-size: 32px;
    font-weight: 400;
    transition: all 0.5s;
}